@import url(//db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse);

:root {
    font-family: "norse", sans-serif;
}


.main {
    display: flex;
}

.background {
    width: 30vw;   
}

.img-caption {
    width: 30vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25vh;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 10px 0px;
}

.img-odin {
    height: 100%;
}

.odin-text {
    font-size: 5rem;
    color: white;
}

